.movie-details{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 1rem 1rem;
    background-color: rgba(58, 58, 58, 0.25);
    
    overflow-y: auto;

    h2{
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    
    .movie-meta-info{
        margin-bottom: 2rem;
        font-size: 0.8rem;
        h4{
            margin: 0.5rem 0;
        }
    }

    .favorite-icon{
        position: fixed;
        top:0;
        right: 0;
        margin: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
    
    p{
        line-height: 1.75rem;
    }
    
    @include for-tablet{
        padding: 1.5rem 3rem;
        
        h2{
            font-size: 3.5rem;
            margin-bottom: 0.5rem;
        }
        
        .movie-meta-info{
            margin-bottom: 3rem;
            font-size: 1rem;
            h4{
                margin: 0.5rem 0;
            }
        }

        p{
            line-height: 1.75rem;
        }

        .movie-details-top{
            position: static;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .favorite-icon{
                position: static;
                font-size: 2rem;
            }
    
        }
    }
}



.mobile-hamburger-btn{
    z-index: 50;
    position: absolute;
    cursor: pointer;
    font-size: 1.75rem;
    margin: 1rem;

    @include for-tablet{
        display: none;
    }
}

.background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-image: url('../../assets/images/star-wars-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    animation: background-images ease-in-out 60s infinite backwards;
}

@keyframes background-images {
    0%{
        background-image: url('../../assets/images/star-wars-1.jpg');
    }    
    20%{
        background-image: url('../../assets/images/star-wars-2.jpg');
    }    
    40%{
        background-image: url('../../assets/images/star-wars-3.jpg');
    }    
    60%{
        background-image: url('../../assets/images/star-wars-4.jpg');
    }    
    80%{
        background-image: url('../../assets/images/star-wars-5.jpg');
    }    
    100%{
        background-image: url('../../assets/images/star-wars-6.jpg');
    }    
}