* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

body {

background: #292929;
background: linear-gradient(0deg, #131313 0%, #292929 100%);

width: 100vw;
height: 100vh;

color: white;

}

